body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

#desk {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 50px;
}

h2, h3 {
    color: rgb(113, 43, 226);
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    color: palevioletred;
    font-size: 40px;
    margin-bottom: 30px;
}

p {
    display: block;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 25px;
    font-weight: 400;
}

/*Flex header*/

.box {
    display: flex;
    flex-wrap: nowrap;
    flex: 100%;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    align-self: center;
    align-items: center;
    display: block;

}

ul {
    list-style: none;
    align-items: center;
}

li {
    display: inline;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: rgb(113, 43, 226);
}

/* MAIN conteneur1 */
h1 {
    color: palevioletred;
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.conteneur1 {
    margin-top: 100px;
    display: flex;
    padding: 0px;
    height: 350px;
}

.conteneur1-child2 img {
    height: 100%;
    margin-left: 22%;
}

.conteneur1-child1 p {
    flex: 80%;
    justify-content: space-between;
}

/* MAIN (social-network) but */
.social-network-icon {
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Twitter {
    background-color: #00A2F5;
    width: 190px;
    height: 60px;
    display: flex;
}


#Linkedin {
    background-color: #0176B4;
    width: 190px;
    height: 60px;
    display: flex;
}

#Medium {
    background-color: rgb(0, 0, 0);
    width: 190px;
    height: 60px;
    display: flex;
}

#Twitter img {
    width: 40px;
    height: 20px;
    margin: 0;
    padding-left: 10%;
    padding-top: 10%;
}

#Twitter p {
    font-size: 12px;
    padding-top: 12%;
    padding-left: 9%;
    margin: 0;
    color: white;
}

#Linkedin img {
    width: 50px;
    height: 30px;
    margin: 0;
    padding-left: 10%;
    padding-top: 8%;
}

#Linkedin p {
    font-size: 12px;
    padding-top: 12%;
    padding-left: 7%;
    margin: 0;
    color: white;
}

#Medium img {
    width: 50px;
    height: 30px;
    margin: 0;
    padding-left: 10%;
    padding-top: 8%;
}

#Medium p {
    font-size: 12px;
    padding-top: 12%;
    padding-left: 7%;
    margin: 0;
    color: white;
}