body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

/*Flex header*/

.box {
    display: flex;
    flex-wrap: nowrap;
    flex: 100%;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    align-self: center;
    align-items: center;
    display: block;

}

ul {
    list-style: none;
    align-items: center;
}

li {
    display: inline;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
	color: grey;
}

a:hover {
        color: rgb(113, 43, 226);
}

/* MAIN Conteneur 1 */

main{
    padding-top: 10%;
}

.conteneur1{
    display: flex;
    gap: 8%;
}

.conteneur1-child2 img{
     width: 500px;
     height: 500px;
     padding-bottom: 30px;
}

.conteneur1-child1 h1{
   margin-top: 0;
   padding-top: 0;
   color: palevioletred;
   font-family:'Abril Fatface', cursive;
   padding-bottom: 2%;
   font-size: 60px;
   font-weight: bold;
}

p{
    font-size: 18px;
}

/* h2 */
h2{
    text-align: center;
    padding-top: 4%;
    color: palevioletred;
    font-family:'Abril Fatface', cursive;
    font-size: 30px;
    margin-bottom: 1%;
}

/* Main conteneur 2 */

.conteneur2{
	display: flex;
	flex-wrap: wrap;
	gap: 6%;
	margin-top: 10%;
}

.conteneur2 div{
	flex: 46%;
	margin-top: 5px;
	margin-bottom: 60px;
}

.conteneur2 div img{
	width: 100%;
}

h3{
    color: palevioletred;
    font-family:'Abril Fatface', cursive;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0;
}

/* tokyo */

#tokyo{
    width: 1125px;
    margin-top: 30px;
}
