body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
}

nav {
    align-self: flex-end;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
	color: grey;
}

a:hover {
        color: blue;
}