/*Flex header*/

.box {
    display: flex;
    flex-wrap: nowrap;
    flex: 100%;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    align-self: center;
    align-items: center;
    display: block;

}

ul {
    list-style: none;
    align-items: center;
}

li {
    display: inline;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
	color: grey;
}

a:hover {
        color: blue;
}