body {
	font-family: 'Montserrat', sans-serif;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 36px;
	font-weight: 700;
	margin: 0%;
	color: palevioletred;
}

form {
	text-align: left;
}

textarea {
	width: 100%;
}

.bouton {
	display: block;
	margin: auto;
	background-color: rgba(216, 112, 147, 0.7);
	margin-bottom: 3%;
	border: none;
	padding: 5px;
	border-radius: 30%;
	font-family: 'Montserrat', sans-serif;
}

label {
	display: block;
	margin-bottom: 5px;
}

/*Flex header*/

.box {
	display: flex;
	flex-wrap: nowrap;
	flex: 100%;
	flex-direction: row;
	justify-content: space-between;
}

nav {
	align-self: center;
	align-items: center;
	display: block;

}

ul {
	list-style: none;
	align-items: center;
}

li {
	display: inline;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: grey;
}

a:hover {
	color: rgb(113, 43, 226);
}

/* MAIN (social-network) but */
.social-network-icon {
	margin: auto;
	height: 100px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#Twitter {
	background-color: #00A2F5;
	width: 190px;
	height: 60px;
	display: flex;
}

#Linkedin {
	background-color: #0176B4;
	width: 190px;
	height: 60px;
	display: flex;
}

#Medium {
	background-color: rgb(0, 0, 0);
	width: 190px;
	height: 60px;
	display: flex;
}

#Twitter img {
	width: 40px;
	height: 20px;
	margin: 0;
	padding-left: 10%;
	padding-top: 10%;
}

#Twitter p {
	font-size: 12px;
	padding-top: 12%;
	padding-left: 9%;
	margin: 0;
	color: white;
}

#Linkedin img {
	width: 50px;
	height: 30px;
	margin: 0;
	padding-left: 10%;
	padding-top: 8%;
}

#Linkedin p {
	font-size: 12px;
	padding-top: 12%;
	padding-left: 7%;
	margin: 0;
	color: white;
}

#Medium img {
	width: 50px;
	height: 30px;
	margin: 0;
	padding-left: 10%;
	padding-top: 8%;
}

#Medium p {
	font-size: 12px;
	padding-top: 12%;
	padding-left: 7%;
	margin: 0;
	color: white;
}

#logo {
	display: inline-flex;
	flex: 30%;
}

#logo img {
	height: 200px;
}

#texte {
	flex: 100%;
}

#liens {
	flex-direction: row;
	flex: 70%;
}