body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
    margin: 0%;
}

form {
    text-align: left;
}

textarea {
    width: 100%;
}

.bouton {
    display: block;
    margin: auto;
    background-color: blueviolet;
}

label{
    display: block;
    margin-bottom: 5px;
}

/*Flex header*/

.box {
    display: flex;
    flex-wrap: nowrap;
    flex: 100%;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    align-self: center;
    align-items: center;
    display: block;

}

ul {
    list-style: none;
    align-items: center;
}

li {
    display: inline;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
	color: grey;
}

a:hover {
        color: blue;
}